:root{
    --tipo-titular: 'Poppins', sans-serif;
    --tipo-principal: 'DM Sans', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    font-family: var(--tipo-titular);
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}
.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}


@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


img {
    position: relative;
    width: 535px;
    height: 561px;
    left: 87px;
    top: 60px;
    border-radius: 35px;
}

p{
    position: absolute;
    width: 559px;
    height: 224px;
    left: 740px;
    top: 144px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color:#000;
}

p2{
    position: absolute;
    width: 538px;
    height: 109px;
    left: 740px;
    top: 406px;

    font-family: 'Poppins';
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color:#000;
}

h2 {
    position: absolute;
    width: 560px;
    height: 31px;
    left: 740px;
    top: 550px;

    font-family: var(--tipo-principal);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;


    color: #000;
}

.boton{
    position: absolute;
    width: 559px;
    height: 60px;
    left: 740px;
    top: 600px;

    cursor: pointer;
    background-color: #000;
    border-radius: 35px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color:#fff;
}

.scroll-down {
    height: 34px;
    width: 20px;
    border: 2px solid black;
    position: absolute;
    left: 690px;
    bottom: 6px;
    border-radius: 50px;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

img.tikal {
    position: absolute;
    width: 685px;
    height: 697px;
    left: 8px;
    top: 794px;
}

img.imgtikal {
    position : absolute;
    width: 444px;
    height: 256px;
    left: 129px;
    top: 815px;
    
    border-radius: 25px;
}

h1.titul {
    position: absolute;
    width: 225px;
    left: 239px;
    top: 1086px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

p3 {
    position: absolute;
    width: 309px;
    height: 130px;
    left: 199px;
    top: 1129px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.tikalbtn{
    position: absolute;
    width: 137px;
    height: 37px;
    left: 280px;
    top: 1253px;

    cursor: pointer;
    background-color: #000;
    border-radius: 35px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color:#fff;
}


img.semuc {
    position: absolute;
    width: 361px;
    height: 233px;
    left: 630px;
    top: 794px;

    border-radius: 25px;
}

img.imgsemuc {
    position: absolute;
    width: 196px;
    height: 202px;
    left: 646px;
    top: 808px;

    border-radius: 25px;
}

h1.titul2 {
    position: absolute;
    width: 123px;
    height: 58px;
    left: 850px;
    top: 822px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

p4{
    position:absolute;
    width: 127px;
    height: 103px;
    left: 850px;
    top: 900px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.semucbtn{
    position: absolute;
    width: 113px;
    height: 32px;
    left: 684px;
    top: 970px;

    cursor: pointer;
    background-color: #000;
    border-radius: 8px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color:#fff;
}


img.pacaya {
    position: absolute;
    width: 361px;
    height: 233px;
    left: 1020px;
    top: 794px;
}

img.imgpacaya {
    position: absolute;
    width: 196px;
    height: 202px;
    left: 1040px;
    top: 808px;

    border-radius: 25px;
}

h1.titul3 {
    position: absolute;
    width: 123px;
    height: 58px;
    left: 1244px;
    top: 822px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

p5{
    position:absolute;
    width: 132px;
    height: 103px;
    left: 1245px;
    top: 890px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.pacayabtn{
    position: absolute;
    width: 113px;
    height: 32px;
    left: 1080px;
    top: 970px;

    cursor: pointer;
    background-color: #000;
    border-radius: 8px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color:#fff;
}

img.acatenango {
    position: absolute;
    width: 361px;
    height: 233px;
    left: 629px;
    top: 1061px;
}

img.imgacatenango {
    position: absolute;
    width: 196px;
    height: 202px;
    left: 646px;
    top: 1076px;

    border-radius: 25px;
}

h1.titul4 {
    position: absolute;
    width: 123px;
    height: 58px;
    left: 850px;
    top: 1081px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

p6 {
    position: absolute;
    width: 132px;
    height: 110px;
    left: 850px;
    top: 1155px;
    
    font-family: var(--tipo-principal);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}

.acatenangobtn{
    position: absolute;
    width: 113px;
    height: 32px;
    left: 684px;
    top: 1236px;

    cursor: pointer;
    background-color: #000;
    border-radius: 8px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color:#fff;
}

img.panajachel {
    position: absolute;
    width: 361px;
    height: 233px;
    left: 1021px;
    top: 1061px;
}

img.imgpanajachel {
    position: absolute;
    width: 196px;
    height: 202px;
    left: 1042px;
    top: 1076px;

    border-radius: 25px;
}

h1.titul5 {
    position: absolute;
    width: 123px;
    height: 58px;
    left: 1242px;
    top: 1081px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

p7 {
    position: absolute;
    width: 132px;
    height: 110px;
    left: 1245px;
    top: 1118px;
    
    font-family: var(--tipo-principal);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}

.panajachelbtn{
    position: absolute;
    width: 113px;
    height: 32px;
    left: 1090px;
    top: 1236px;

    cursor: pointer;
    background-color: #000;
    border-radius: 8px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color:#fff;
}

.ubicacion {
    position: absolute;
    width: 783px;
    height: 89px;
    left: 356px;
    top: 1332px;

    cursor: pointer;
    background-color: #000;
    border-radius: 8px;

    font-family: var(--tipo-principal)
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color:#fff;
}

h5.tituloK {
    position: absolute;
    width: 225px;
    height: 17px;
    left: 656px;
    top: 1439px;

    font-family: var(--tipo-titular);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

img.ig {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 652px;
    top: 1466px
}

img.tw {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 720px;
    top: 1466px
}

img.gt {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 794px;
    top: 1466px
}

img.bh {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 850px;
    top: 1466px
}